<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
       id="org.savara.tools.monitor.eclipse.MonitorLauncher"
       delegate="org.savara.tools.monitor.eclipse.MonitorLauncher"
       modes="run"
       name="Monitor">
      <fileExtension extension="cdm" default="true"/>
    </launchConfigurationType>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="org.savara.tools.monitor.eclipse.MonitorLauncher"
        class="org.savara.tools.monitor.eclipse.MonitorTabGroup"
        id="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.monitor">
    </launchConfigurationTabGroup>
  </extension>
   
  <extension point="org.eclipse.ui.popupMenus"> 
	<objectContribution 
      id="org.savara.tools.service.generation.contribution2"
   			objectClass="org.eclipse.core.resources.IFile"
   				nameFilter="*.cdm">
	  <menu
         id="org.savara.tools.menu"
         label="Savara"
         path="additions">
      	<separator name="group1"/>
      </menu>
      <action
           label="Monitor"
           class="org.savara.tools.monitor.eclipse.MonitorAction"
           menubarPath="org.savara.tools.menu/group1"
           enablesFor="1"
           id="org.savara.tools.monitor.MonitorAction">
     </action> 
    </objectContribution> 
  </extension>

  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.savara.tools.preferences.SavaraPreferencePage"
           id="org.savara.tools.preferences.SavaraPreferencePage"
           name="Savara">
     </page>
     <page
           category="org.savara.tools.preferences.SavaraPreferencePage"
           class="org.savara.tools.monitor.preferences.MonitorPreferencePage"
           id="org.savara.tools.monitor.preferences.MonitorPreferencePage"
           name="Monitor">
     </page>
  </extension>
  
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.savara.tools.monitor.preferences.PreferenceInitializer">
     </initializer>
  </extension>
</plugin>
