<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension point="org.eclipse.ui.popupMenus"> 
	<objectContribution 
      id="org.jboss.tools.overlord.cdl.bpel.object.contribution"
   			objectClass="org.eclipse.core.resources.IFile"
   				nameFilter="*.cdm">
	  <menu
         id="org.savara.tools.menu"
         label="Savara"
         path="additions">
      	<separator name="group1"/>
      </menu>
	  <menu
         id="generate.menu"
         label="Generate"
         path="org.savara.tools.menu/additions">
      	<separator name="group2"/>
      </menu>
      <action
           label="WSDL"
           class="org.savara.tools.wsdl.actions.GenerateAction"
           menubarPath="org.savara.tools.menu/generate.menu/group2"
           enablesFor="1"
           id="org.savara.tools.wsdl.actions.GenerateAction">
     </action> 
    </objectContribution>
  </extension>

</plugin>
