<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.pi4soa.common.annotationsManager">
      <annotationsManager
            class="org.savara.tools.pi4soa.cdm.osgi.ValidatorAnnotations">
      </annotationsManager>
   </extension>

</plugin>
