<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
        point="org.savara.tools.common.generation.Generator">
     <generator
           class="org.savara.tools.bpmn2.generator.BPMN2GeneratorImpl">
     </generator>
  </extension>

  <extension
        point="org.scribble.protocol.parser.ProtocolParser">
     <parser
     	   bundle="org.savara.tools.bpmn2"
           class="org.savara.bpmn2.parser.choreo.BPMN2ChoreographyProtocolParser">
     </parser>
  </extension>

  <extension point="org.eclipse.ui.popupMenus"> 
	<objectContribution 
      id="org.savara.tools.bpmn2.object.contribution"
   			objectClass="org.eclipse.core.resources.IFile"
   				nameFilter="*.bpmn">
	  <menu
         id="org.savara.tools.menu"
         label="Savara"
         path="additions">
      	<separator name="group1"/>
      </menu>
	  <menu
         id="BPMN2.menu"
         label="BPMN2"
         path="org.savara.tools.menu/additions">
      	<separator name="group2"/>
      </menu>
      <action
           label="Add Service Interfaces"
           class="org.savara.tools.bpmn2.actions.AddServiceInterfacesAction"
           menubarPath="org.savara.tools.menu/BPMN2.menu/group2"
           enablesFor="1"
           id="org.savara.tools.bpmn2.actions.AddServiceInterfacesAction">
     </action> 
    </objectContribution>
  </extension>
  
  <extension point="org.eclipse.ui.popupMenus"> 
	<objectContribution 
      id="org.savara.tools.bpmn2.object.contribution"
   			objectClass="org.eclipse.core.resources.IFile" >
	  <menu
         id="org.savara.tools.menu"
         label="Savara"
         path="additions">
      	<separator name="group1"/>
      </menu>
	  <menu
         id="BPMN2.menu"
         label="BPMN2"
         path="org.savara.tools.menu/additions">
      	<separator name="group2"/>
      </menu>
      <action
           label="Create Choreography"
           class="org.savara.tools.bpmn2.actions.CreateChoreographyAction"
           menubarPath="org.savara.tools.menu/BPMN2.menu/group2"
           enablesFor="2+"
           id="org.savara.tools.bpmn2.actions.CreateChoreographyAction">
     </action> 
    </objectContribution>
  </extension>
  
  <extension point="org.eclipse.ui.popupMenus"> 
	<objectContribution 
      id="org.savara.tools.bpmn2.object.contribution"
   			objectClass="org.eclipse.core.resources.IFile"
   				nameFilter="*.scn">
	  <menu
         id="org.savara.tools.menu"
         label="Savara"
         path="additions">
      	<separator name="group1"/>
      </menu>
	  <menu
         id="BPMN2.menu"
         label="BPMN2"
         path="org.savara.tools.menu/additions">
      	<separator name="group2"/>
      </menu>
      <action
           label="Create Architecture and Designs"
           class="org.savara.tools.bpmn2.actions.CreateArchitectureDesignAction"
           menubarPath="org.savara.tools.menu/BPMN2.menu/group2"
           enablesFor="*"
           id="org.savara.tools.bpmn2.actions.CreateArchitectureDesignAction">
      </action> 
    </objectContribution>
  </extension>
  
    <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            class="org.savara.tools.bpmn2.properties.BPMN2PropertyPage"
            name="BPMN2"
            category="org.savara.tools.common.properties.SavaraPropertyPage"
            id="org.savara.tools.bpmn2.properties.BPMN2PropertyPage"/>
    </extension>

</plugin>
