<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
        point="org.savara.tools.common.generation.Generator">
     <generator
           class="org.savara.tools.switchyard.bpel.generator.SwitchyardBPELGeneratorImpl">
     </generator>
  </extension>

  <extension
        point="org.scribble.protocol.parser.ProtocolParser">
     <parser
     	   bundle="org.savara.tools.switchyard.bpel"
           class="org.savara.bpel.parser.BPELProtocolParser">
     </parser>
  </extension>

  <extension
        id="org.savara.tools.bpel.validator"
        name="Savara BPEL Validator"
        point="org.eclipse.wst.validation.validatorV2">
     <validator
           class="org.savara.tools.common.eclipse.Validator">
         <include>
            <rules>
               <fileext ext="bpel"/>
            </rules>
         </include>
     </validator>
  </extension>

</plugin>
