<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
     <wizard
           class="org.savara.tools.bpmn.eclipse.ExportBPMNWizard"
           name="BPMN"
           id="org.savara.tools.bpmn.exportbpmnwizard"/>
   </extension>

</plugin>
